@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-1: #151619;
  --dark-2: #23262c;
  --dark-3: #2d323c;
  --dark-4: #343843;

  --fishka-red: #ff4242;
  --progress-color: orange;
  --bg-mask: rgba(20, 21, 28, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
