@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-1: #151619;
  --dark-2: #23262c;
  --dark-3: #2d323c;
  --dark-4: #343843;

  --fishka-red: #ff4242;

  --bg-list: rgba(20, 21, 28, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.progress-animate::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  border-radius: 12px;
  background-color: orange;
  transform-origin: left;
  animation: decreaseProgress var(--progress-duration) linear forwards;
  z-index: 5;
}

@keyframes decreaseProgress {
  from {
    transform: scaleX(1);
  }
  to 50% {
    transform: scaleX(0.5);
  }
  to {
    transform: scaleX(0);
  }
}
